## Question 1 (Easy)

**Title:** Print 1 to 10

### Problem Statement:
Print numbers from 1 to 10 using a for loop.

### Approach:
Use `range(1, 11)` inside a `for` loop and print each value.

In [1]:
# write your code here
for i in range(1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

## Question 2 (Easy)

**Title:** Sum of First N Numbers

### Problem Statement:
Take an integer N as input and find the sum of numbers from 1 to N.

### Approach:
Initialize sum = 0, loop from 1 to N, add each value to sum.

In [2]:
# write your code here
N = int(input("Enter a number: "))
sum = 0
for i in range(1,N+1):
  sum +=i
print(sum)

Enter a number: 7
28

## Question 3 (Easy)

**Title:** Even Numbers from 1 to 50

### Problem Statement:
Print all even numbers between 1 and 50.

### Approach:
Loop from 1 to 50 and check `i % 2 == 0`.

In [3]:
# write your code here
for i in range(1,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

## Question 4 (Easy)

**Title:** Count Multiples of 3

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by 3.

### Approach:
Use a counter variable and increment when `i % 3 == 0`.

In [7]:
# write your code here
N = int(input("Enter a number: "))
count=0
for i in range(1,N+1):
  if i%3==0:
    count=count+1
print(count)

Enter a number: 10
3

## Question 5 (Easy)

**Title:** Multiplication Table

### Problem Statement:
Take a number as input and print its multiplication table from 1 to 10.

### Approach:
Loop from 1 to 10 and multiply with the input number.

In [8]:
# write your code here
number = int(input("Enter a number: "))
for i in range(1,11):
  print(number,"*",i,"=",number*i)

Enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

## Question 6 (Easy)

**Title:** Factorial of a Number

### Problem Statement:
Take a number N as input and find its factorial.

### Approach:
Initialize fact = 1 and multiply values from 1 to N.

In [9]:
# write your code here
N = int(input("Enter a number: "))
fact = 1
for i in range(1,N+1):
  fact = fact*i
print(fact)

Enter a number: 5
120

## Question 7 (Easy)

**Title:** Running Sum

### Problem Statement:
Take N as input and print the running sum from 1 to N.

### Approach:
Use a sum variable and update it in each iteration.

In [11]:
# write your code here
N= int(input("Enter a number: "))
sum = 0
for i in range(1,N+1):
  sum = sum+i
  print(sum)

Enter a number: 7
1
3
6
10
15
21
28

## Question 8 (Easy)

**Title:** Add 5 to Each Number

### Problem Statement:
Take N as input and add 5 to each number from 1 to N and print the result.

### Approach:
Loop from 1 to N and use shorthand `value += 5`.

In [12]:
# write your code here
N = int(input("Enter a number: "))
for i in range(1,N+1,5):
  print(i)

Enter a number: 8
1
6

## Question 9 (Easy)

**Title:** Count Even and Odd Numbers

### Problem Statement:
Take N as input and count how many even and odd numbers are there between 1 and N.

### Approach:
Use two counters and check with modulo operator.

In [13]:
# write your code here
N= int(input("Enter a number: "))
count_even = 0
count_odd = 0
for i in range(1,N+1):
  if i%2==0:
    count_even = count_even+1
  else:
    count_odd = count_odd+1
print("total even numbers is: ",count_even)
print("total odd numbers is:",count_odd)

Enter a number: 80
total even numbers is:  40
total odd numbers is: 40

## Question 10 (Easy)

**Title:** Squares from 1 to N

### Problem Statement:
Take N as input and print the square of each number from 1 to N.

### Approach:
Use `i * i` inside the loop.

In [14]:
# write your code here
N= int(input("enter your number: "))
for i in range(1,N+1):
  print("square of ",i,"is",i*i)

enter your number: 10
square of  1 is 1
square of  2 is 4
square of  3 is 9
square of  4 is 16
square of  5 is 25
square of  6 is 36
square of  7 is 49
square of  8 is 64
square of  9 is 81
square of  10 is 100

## Question 11 (Medium)

**Title:** Sum of Even and Odd Separately

### Problem Statement:
Take N as input and find the sum of all even numbers and all odd numbers between 1 and N.

### Approach:
Use two sum variables and check each number with modulo.

In [15]:
# write your code here
N= int(input("Enter a number: "))
even_sum = 0
odd_sum = 0
for i in range(1,N+1):
  if i%2==0:
    even_sum = even_sum+i
  else:
    odd_sum = odd_sum+i
print("sum of even numbers is: ",even_sum)
print("sum of odd numbers is: ",odd_sum)

Enter a number: 10
sum of even numbers is:  30
sum of odd numbers is:  25

## Question 12 (Medium)

**Title:** Divisible by 3 and 5

### Problem Statement:
Take N as input and count how many numbers between 1 and N are divisible by both 3 and 5.

### Approach:
Use logical AND condition inside the loop.

In [16]:
# write your code here
N= int(input("Enter a number: "))
count = 0
for i in range(1,N+1):
  if i%3==0 and i%5==0:
    count = count+1
print(count)

Enter a number: 80
5

## Question 13 (Medium)

**Title:** Skip Multiples of 4

### Problem Statement:
Take N as input and print numbers from 1 to N but skip multiples of 4.

### Approach:
Use `continue` when the number is divisible by 4.

In [17]:
# write your code here
N= int(input("Enter a number: "))
for i in range(1,N+1):
  if i%4==0:
    continue
  print(i)

Enter a number: 8
1
2
3
5
6
7

## Question 14 (Medium)

**Title:** Find the Largest Number

### Problem Statement:
Take N as input and find the largest number between 1 and N using a loop.

### Approach:
Assume the first value as largest and update using `if`.

In [18]:
# write your code here
N= int(input("Enter a number: "))
largest_value = 0
for i in range(1,N+1):
  if i>largest_value:
    largest_value = i
print(largest_value)

Enter a number: 7
7

## Question 15 (Medium)

**Title:** Power of a Number

### Problem Statement:
Take two numbers `a` and `b` as input and calculate `a` raised to the power `b` using a for loop.

### Approach:
Initialize result = 1 and multiply it `b` times.

In [19]:
# write your code here
a= int(input("Enter a number: "))
b= int(input("Enter a number: "))
result = 1
for i in range(1,b+1):
  result = result*a
print(result)

Enter a number: 3
Enter a number: 2
9

## Question 16 (Hard)

**Title:** Check Prime Number

### Problem Statement:
Take a number as input and check whether it is prime or not.

### Approach:
Loop from 2 to N-1 and use `break` if divisible.

In [23]:
# write your code here
number= int(input("Enter a number: "))
for i in range(2,number):
  if number%i==0:
    print("not a prime number")
    break
  else:
    print("prime number")
    break

Enter a number: 7
prime number

## Question 17 (Hard)

**Title:** Prime Numbers Between 1 and N

### Problem Statement:
Take N as input and print all prime numbers between 1 and N.

### Approach:
Use nested loops and a flag variable for prime checking.

In [36]:
# write your code here
N= int(input("Enter a number: "))
for i in range(2,N+1):
  flag=0
  for j in range(2,i):
    if i%j==0:
      flag=1
      break
  if flag==0:
    print(i)

Enter a number: 10
2
3
5
7

## Question 18 (Hard)

**Title:** First Number Divisible by 7 and 11

### Problem Statement:
Take N as input and find the first number between 1 and N that is divisible by both 7 and 11. Stop after finding it.

### Approach:
Use logical AND and stop the loop using `break`.

In [28]:
# write your code here
N= int(input("Enter a number: "))
for i in range(1,N+1):
  if i%7==0 and i%11==0:
    print(i)
    break
  else:
    print("no number divisible by 7 and 11 ")
    break

Enter a number: 11
no number divisible by 7 and 11

## Question 19 (Hard)

**Title:** Number Pattern

### Problem Statement:
Take N as input and print a right-angled number pattern using nested loops.

Example:
1
12
123

### Approach:
Use an outer loop for rows and an inner loop for printing numbers.

In [35]:
# write your code here
N= int(input("Enter a number: "))
for i in range(1,N+1):
  for j in range(1,i+1):
    print(j,end="")
  print()

Enter a number: 4
1
12
123
1234

## Question 20 (Hard)

**Title:** Perfect Number Check

### Problem Statement:
Take a number as input and check whether it is a perfect number or not.

### Approach:
Find sum of all factors using a loop and compare with the number.

In [38]:
# write your code here
N=int(input("Enter a number: "))
sum=0
for i in range(1,N):
  if N%i==0:
    sum=sum+i
if sum==N:
  print("perfect number")
else:
  print("not a perfect number")

Enter a number: 6
perfect number