# Map, Filter, Reduce

## Problem 1: Square all numbers using `map()`

**Approach:**
- Take a list of numbers
- Use `map()` to apply square operation on each element
- Convert result to list

In [2]:
list1=[1,2,3,4,5]
squares_number=list(map(lambda x:x**2,list1))
print(squares_number)

[1, 4, 9, 16, 25]

## Problem 2: Convert list of strings to uppercase

**Approach:**
- Use `map()`
- Apply `upper()` on each string

In [5]:
list2=['ram','vedu','vivek']
upper_case_list=list(map(lambda x:x.upper(),list2))
print(upper_case_list)

['RAM', 'VEDU', 'VIVEK']

## Problem 3: Filter even numbers using `filter()`

**Approach:**
- Use `filter()`
- Condition: number % 2 == 0

In [7]:
list1=[1,2,3,4,5,6,7,8,9,10]
even_numbers=list(filter(lambda x:x%2==0,list1))
print("even numbers is",even_numbers)

even numbers is [2, 4, 6, 8, 10]

## Problem 4: Filter names longer than 4 characters

**Approach:**
- Use `filter()`
- Keep strings with length > 4

In [8]:
names=["Saket","ram","viveksahu","chaman"]
long_names=list(filter(lambda x:len(x)>4,names))
print(long_names)

['Saket', 'viveksahu', 'chaman']

## Problem 5: Find sum of numbers using `reduce()`

**Approach:**
- Import reduce from functools
- Add elements step-by-step

In [9]:
from functools import reduce
list1=[1,2,3,4,5]
sum_numbers=reduce(lambda x,y:x+y,list1)
print(sum_numbers)

15

## Problem 6: Find product of numbers

**Approach:**
- Use reduce
- Multiply elements

In [10]:
from functools import reduce
list1=[1,2,3,4,5]
product_numbers=reduce(lambda x,y:x*y,list1)
print(product_numbers)

120

## Problem 7: Combined Map + Filter

**Problem:** Square numbers and keep only even results

**Approach:**
- Map to square
- Filter even values

In [12]:
list1=[1,4,3,2,4,5,7]
square=list(map(lambda x:x**2,list1))
even_num=list(filter(lambda x:x%2==0,square))
print(even_num)

[16, 4, 16]