# Python Arithmetic Operators Practice Notebook

# Q1  Addition

Write an expression that adds `8` and `12` and prints the result.

In [ ]:
# Answer here
print(8+12)

20

# Q2  Subtraction

Write an expression that subtracts `7` from `20` and prints the result.

In [1]:
# Answer here
print (20-7)

13

# Q3  Multiplication

Write an expression that multiplies `6` by `9` and prints the result.

In [2]:
# Answer here
print(6*9)

54

# Q4  Division

Write an expression that divides `45` by `9` and prints the result (normal division).

In [3]:
# Answer here
print(45/9)

5.0

# Q5  Floor Division

Write an expression that floor-divides `45` by `9` and prints the result.

Then floor-divide `50` by `6` and print the result to see how floor division works.

In [4]:
# Answer here
print(45//9)
print(50//6)

5
8

# Q6  Modulus

Write an expression that computes the remainder when `29` is divided by `5` and prints it.

In [5]:
# Answer here
print(29%5)

4

# Q7  Power

Compute `3` raised to the power `4` and print the result using the `**` operator.

In [6]:
# Answer here
print(3**4)

81

# Q8  Unary plus and minus

Assign a positive number to a variable `x` and print `+x` and `-x`. Observe the outputs.

In [7]:
# Answer here
x=4
print(+x)
print(-x)

4
-4

# Q9  Combined expression and operator precedence

Without using parentheses, write an expression that computes `5 + 3 * 2` and prints the result. Then add parentheses to change the order so that addition happens first: `(5 + 3) * 2`.

In [8]:
# Answer here
print(5 + 3 * 2)

print((5 + 3) * 2)

11
16

# Q10  Using variables

Assign two variables `a = 15` and `b = 4`. Compute and print **all** arithmetic operations between them: `+`, `-`, `*`, `/`, `//`, `%`, `**`.

In [9]:
# Answer here
a=5
b=4
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a**b)

9
1
20
1.25
1
1
625

# Q11 - Compound assignment

Start with `n = 10`. Use compound assignment operators to:
- add 5 (`n += 5`), print
- multiply by 2 (`n *= 2`), print
- subtract 4 (`n -= 4`), print
(Place each statement so students can see the updated `n` after each operation.)

In [12]:
# Answer here
n=10
n+=5
print(n)

n*=2
print(n)

n-=4
print(n)

15
30
26

# Q12  Swapping values (without a third variable)

Given `x = 3` and `y = 7`, swap their values using Python tuple assignment and print `x` and `y` after swapping.

In [15]:
# Answer here
x=3
y=7
print("before swap")
print(f"value of x:{x}")
print(f"value of y:{y}")
print("after swap")
x=x+y
y=x-y
x=x-y
print(f"value of x:{x}")
print(f"value of y:{y}")

before swap
value of x:3
value of y:7
after swap
value of x:7
value of y:3

# Q13 - Input: Sum of two numbers

Ask the user to input two numbers (integers). Add them and print `Sum: <result>`.

In [17]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a=int(input("Enter the value of a:"))
b=int(input("Enter the value of b:"))
print(f"Sum:{a+b}")
print("sum:",a+b)

Enter the value of a:3
Enter the value of b:4
Sum:7
sum: 7

# Q14 - Input: Average of three numbers

Ask the user to input three numbers (floats allowed). Compute their average and print `Average: <result>`.

In [18]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
a= float(input("enter the value of a:"))
b=float(input("enter thevalue of b:"))
c= float(input("enter the value of c:"))
Average= (a+b+c)/3
print("Avarage:", Average)

enter the value of a:2
enter thevalue of b:5
enter the value of c:8
Avarage: 5.0

# Q15 - Input: Circle calculations

Ask the user to input the radius of a circle (float). Compute and print:
- Circumference = `2 * 3.14159 * radius`
- Area = `3.14159 * radius ** 2`

In [19]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
r=float(input("enter the value of radius: "))
cir=2*3.14159*r
area=3.14159*r**2
print("circumference:",cir)
print("area:",area)

enter the value of radius: 7
circumference: 43.98226
area: 153.93791

# Q16 - Input: Convert total seconds to hours, minutes, seconds

Ask the user to input a total number of seconds (integer). Convert it to hours, minutes, and seconds and print as `H:M:S`.

In [20]:
# Answer here
# Hint: use input(), then convert to int() or float() as needed.
total_second =int(input("enter the value of seconds:"))
h=total_second//3600
remaining_second= total_second%3600
m=remaining_second//60
s=remaining_second%60
print(f"{h}:{m}:{s}")

enter the value of seconds:754000
209:26:40

# Q17 - Input: Simple interest calculation

Ask user for `principal`, `rate` (annual percent), and `time` (years). Compute simple interest as `(principal * rate * time) / 100` and print `Interest: <result>`.

In [22]:
# Answer here
p=int(input("eter the value of principal:"))
r=int(input("enter the value of rate:"))
t=int(input("enter the value of time:"))
interest=(p*r*t)/100
print("interest:",interest)

eter the value of principal:20000
enter the value of rate:3
enter the value of time:3
interest: 1800.0