# Python Practice: Tuple and Set (Practice Only)

This notebook contains **practice questions only** on **Tuples** and **Sets**.

Instructions:
- Questions are written in **text cells**
- Write your solution in the **code cell below each question**
- Do NOT use any advanced concepts

##  Tuple Practice Questions

### Question 1
Create a tuple of 5 integers and print it.

In [ ]:
# write your answer here
tuple1=(1,2,3,4,5)
print(tuple1)

### Question 2
Create a tuple with different data types (int, float, string, boolean) and print each element separately.

In [1]:
# write your answer here
tuple2=(1,2.4,"hello",True)
for i in tuple2:
  print(i)

1
2.4
hello
True

### Question 3
Find the length of a tuple containing names of 4 students.

In [2]:
# write your answer here
tuple3=("amit","neha","rahul","priya")
print(len(tuple3))

4

### Question 4
Access and print the last element of a tuple.

In [3]:
# write your answer here
tuple4=("amit","neha","rahul","priya")
print(tuple4[-1])

priya

### Question 5
Check whether an element exists in a tuple or not.

In [4]:
# write your answer here
tuple5=("amit","neha","rahul","priya")
print("amit" in tuple5)

True

### Question 6
Convert a tuple into a list.

In [5]:
# write your answer here
tuple6=("amit","neha","rahul","priya")
print(list(tuple6))

['amit', 'neha', 'rahul', 'priya']

### Question 7
Convert a list into a tuple.

In [6]:
# write your answer here
list1=["amit","neha","rahul","priya"]
print(tuple(list1))

('amit', 'neha', 'rahul', 'priya')

### Question 8
Create a tuple with repeated values and count how many times an element appears.

In [8]:
# write your answer here
tuple8=(1,2,3,4,5,1,2,3,4,5)
dic={}
for i in tuple8:
  if i in dic:
    dic[i]+=1
  else:
    dic[i]=1
print(dic)

{1: 2, 2: 2, 3: 2, 4: 2, 5: 2}

### Question 9
Find the index of an element in a tuple.

In [10]:
# write your answer here
tuple9=(1,2,3,4,5)
print(tuple9.index(5))

4

### Question 10
Demonstrate that tuples are immutable (cannot be changed).

In [11]:
# write your answer here
tuple10=(1,2,3,4,5)
tuple10[0]=10

TypeError: 'tuple' object does not support item assignment

## ðŸŸ© Set Practice Questions

### Question 11
Create a set of 5 unique numbers and print it.

In [12]:
# write your answer here
set1={1,2,3,4,5}
print(set1)

{1, 2, 3, 4, 5}

### Question 12
Create a set with duplicate values and observe the output.

In [13]:
# write your answer here
set2={1,2,3,4,5,1,2,3,4,5}
print(set2)

{1, 2, 3, 4, 5}

### Question 13
Add an element to a set.

In [14]:
# write your answer here
set3={1,2,3,4,5}
set3.add(6)
print(set3)

{1, 2, 3, 4, 5, 6}

### Question 14
Remove an element from a set.

In [15]:
# write your answer here
set4={1,2,3,4,5}
set4.remove(5)
print(set4)

{1, 2, 3, 4}

### Question 15
Check whether an element exists in a set.

In [16]:
# write your answer here
set5={1,2,3,4,5}
print(5 in set5)

True

### Question 16
Find the length of a set.

In [17]:
# write your answer here
set6={1,2,3,4,5}
print(len(set6))

5

### Question 17
Convert a list with duplicate values into a set.

In [18]:
# write your answer here
list1=[1,2,3,4,5,1,2,3,4,5]
print(set(list1))

{1, 2, 3, 4, 5}

### Question 18
Convert a set into a list.

In [19]:
# write your answer here
set1={1,2,3,4,5}
print(list(set1))

[1, 2, 3, 4, 5]

### Question 19
Find common elements between two sets.

In [20]:
# write your answer here
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.intersection(set2))

{4, 5}

### Question 20
Find all unique elements from two sets.

In [21]:
# write your answer here
set1={1,2,3,4,5}
set2={4,5,6,7,8}
print(set1.union(set2))

{1, 2, 3, 4, 5, 6, 7, 8}

# Optional Question
### Problem:
Class A has students: {"Amit", "Neha", "Rahul"}
Class B has students: {"Rahul", "Priya", "Sneha"}

In [ ]:
class_a={"Amit", "Neha", "Rahul"}
class_b={"Rahul", "Priya", "Sneha"}

final_list_of_student=class_a.union(class_b)
print(final_list_of_student)

{'Sneha', 'Amit', 'Priya', 'Rahul', 'Neha'}